@import url('https://space-monkey-com.github.io/root.css');

#content{
	background-color: var(--second-background-color);
}
.gamestop{
	padding:  12px 20px;
    max-width: 655px;
	border-radius: var(--main-border-radius);
	margin: 20px auto;
}
#social-links{
	gap: 10px;
	grid-template-columns: auto auto auto;
	width: 1000px;
	margin: auto;
	display: grid;
}
#social-links .links{
	border-radius: 5px;
	/* background-color: red; */
	display: flex;
	font-size: 50px;
	align-items: center;
    color: #fff;
    justify-content: center;
	height: 100px;
}
.flex-center{
	display: flex;
	align-items: center;
    height: 100vh;
    justify-content: center;
}
.yt-link{
	background-color: #ff0000;
}
.st-link{
	background-color: #000000;
}
.ds-link{
	background-color: #7289da;
}
.chrt-link{
	background-color: var(--smoke);
}
.twitch-link{
	background-color: #6441a5;
}
header a{
	text-decoration: none;
	color: inherit;
}
body{
	overflow-y: scroll;
	background-color: var(--main-background-color);
}
input#findGame{
	background-color: #f5f5f7;
	margin-top: 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
	height: 10px;
	padding: 10px;
	border: 0;
}
ul{
	list-style: none;
	/*  */
	padding: 0 8px 0 12px;
	/* padding-left: 5px; */
	margin-top: 5px ;
	
}
keywords{
	display: none;
}
header{
	transition: .2s;
	position: sticky;
    top: 0;
	z-index: 99;
    display: flex;
    width: 100%;
    background-color: #fff;
    min-height: 40px;
    /* box-shadow: 0px 0px 8px #0000001c; */
	gap: 15px;
	font-size: 20px;
    align-items: center;
    justify-content: center;
}
#header span{
	/* opacity: .5; */
	font-size: 13px;
	color: #a0a0a4;
}
#header{
	margin-bottom: 20px;
}
.num-block{
	position: relative;
	/* margin: 20px 0 ; */
}
.rating-el{
	font-size: 12px;
	background-color: #fff;
	padding: 2px 5px;
	border-radius: 5px;
	right: 10px;
	top: 10px;
	position: absolute;
}
.img-list{
	min-height: 100px;
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
	border-radius: 5px;
}

.gold{
	/* border: 1px solid #eecb11; */
	border-left: 4px solid gold;
	background-color: #eecb113d;
}
.bronze{
	/* border: 1px solid #d66e07; */
	border-left: 4px solid #cd7f32;
	background-color: #cd7f323d;
}
.silver{
	/* border: 1px solid silver; */
	border-left: 4px solid #c0c0c0;
	background-color: #c0c0c03d;
}
.other{
	
	border: 1px solid #dcdcdc;
    border-left: 4px solid #c8c8c8;
}
.trash{
	/* margin:  0 ; */
	border-left: 4px solid #9ca175;
}
li{
	/* padding: 2px; */
	min-height: 25px;
	line-height: 25px;
}
.img-poster{
	height: 100px;
	border-radius: 5px;
	width: 66.6px;
}
.img-poster-big{
	height: 300px;
	width: 200px;
	position: absolute;
	left: 8px;
	z-index: 2;
}
.poster-background{
	background-color: #f5f5f7;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	top: 0;
    left: 0;
	height: 100%;
	display: none;
	z-index: 2;
}
.poster-content{
	padding: 10px;
    margin-left: 205px;
	font-size: 13px;
    display: flex;
    gap: 10px;
    /* height: 100%; */
    flex-direction: column;
}
.game-header {
    font-size: 20px;
}